.header{
    &-hero{
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    &_section{
        height: 50vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}